body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hf {
  background-color: #ffeffc;
}

a.login.link-primary, a.link-primary {
  text-decoration: none;
}

.row.title {
  height: 2em;
}
