/* Every page will have css below due to being in the header */

.hf {
    border-bottom: 1px solid #f6e6f3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffeffc;
}

.main-content {
  flex: auto;
}

.row.title {
  height: 2em;
}