.animal-section {
  flex: auto;
}

.welcome-container {
  background-color: #f4ebf4;
}

h1 {
  font-family: 'send_flowersregular';
  color: rgb(228, 76, 109);
  font-weight: 200;
}

.card img {
  width: 100%;
  height: auto;
}

a.login.link-primary, a.link-primary {
  text-decoration: none;
}

.row.title {
  height: 2em;
}
