body {
  margin: 0 auto;
  padding: 0;
  background-image: url("../images/04.jpeg");
  background-color: #f4ebf4;
}

.card {
  width: 400px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign {
  padding-top: 20px;
  color: #ea5aa9;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.email,
.password {
  width: 76%;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-align: center;
}

.form {
  padding-top: 20px;
  text-align: center;
}

.form-field {
  margin-bottom: 25px;
}

.submit {
  border-radius: 5em;
}

.forgot {
  text-align: center;
  padding-top: 15px;
}

a {
  color: #bbb8bb;
  text-decoration: none;
}

a:hover {
  color: #e78cbe;
}

.create-new {
  font-family: sans-serif;
  text-align: center;
}

.create-new a {
  color: #e31b93;
}

.create-new a:hover {
  color: #b14782;
}

.create-new p {
  color: #716d71;
}

.invalid-feedback {
  display: none;
  font-family: sans-serif;
  width: 100%;
  margin-top: 0.25rem;
  color: #dc3545;
  font-size: small;
}

#homeLink:hover {
  color: #ea5aa9;
}

.hover-text {
  visibility: hidden;
  flex-direction: row;
}

#homeLink:hover ~ .hover-text {
  visibility: visible;
  color: #9a9196;
}

#iconHomeContainer {
  display: flex;
  text-align: left;
}

#iconHomeContainer #iconHomeWhitespace,
#iconHomeContainer .hover-text {
  flex-grow: 1;
  flex-basis: 0;
  padding-left: 0.5em;;
}