.form-control {
    color: rgb(38, 50, 56);
    background: rgba(237, 174, 174, 0.2);
    padding: 0 1em;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin: 0 auto;
}

.btn {
  background: linear-gradient(to right, #d41e81, #e78cbe);
  border-radius: 5em;
  border-color: unset;
}