
.page-heading {
  padding: 210px 0px 130px 0px;
  text-align: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/shelter.jpg");
}

.container-header {
    justify-content: center;
    align-content: center;
    display: flex;
}

.page-heading-shelters {
    padding: 210px 0px 130px 0px;
    text-align: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/shelter-individual.jpg");
}

h2, h4 {
  color: white;
  font-width: 10px;
}

a.login.link-primary, a.link-primary {
    text-decoration: none;
}

.row.title {
    height: 2em;
    font-size: 20px;
}

.input-group-text {
    border-radius: 20px;
}

.input-group-text {
    background: rgba(137, 114, 114, 0.2);
}

.btn {
  border-radius: 5em;
}
